---
import Footer from "../components/Footer.astro";

import global from "../styles/global.css";
import steam from "../styles/steam.css";

const title = Astro.props.title || 'New Webpage';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/global.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />    
  </head>  
  <body id="container">

    <slot />

    <Footer>

    <script type="module" src="/index.js" defer></script>

  </body>
</html>